<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/css/normalize-8.0.1.min.css" />
        <link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/highlight.js-dracula.min.css">
		<script src="/js/highlight-9.15.8.min.js"></script>
        <title>{{if .Title}}{{ .Title }} - {{end}}{{.SiteTitle}}</title>
        <link rel="icon" href="data:;base64," />
    </head>
    <body>
        <div class="container">
            <nav>
              <ul>
				<li><a href="/" class="nav-title">{{.SiteTitle}}</a></li>
				<li class="nav-right"><a target="gitlab-inst" href="{{.GitLabInst}}">GitLab</a></li>
				{{if and .LMSUrl .LMSTitle}}<li class="nav-right"><a target="lms-site" href="{{.LMSUrl}}">{{.LMSTitle}}</a></li>{{end}}
              </ul>
            </nav>
