/* Page style */
body {
  font-family: Roboto, sans-serif;
  font-size: 1em;
  margin: 0;
  background-color: #f4f4f4;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

p {
  margin: 10px 0;
}


.container {
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
}

.content {
  padding: 20px 30px;
}

.footer {
  font-size: 0.8rem;
  padding: 8px;
  text-align: center;
}

a {
  color: inherit;
}

a:focus {
  background-color: #ffbf47;
  outline: 2.5pt solid #ffbf47;
}

/* Typography */
.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0 30px 0 30px
}

pre {
	margin: 0;
}


code {
  width: 100%;
  border-radius: 5px;
  display: block;
  white-space: pre-wrap;
}

.highlight-line {
	background-color: #fc8383;
	border-radius: 3px;
}

.footer p {
  margin: 5px;
}

.meta p {
  margin: 0 0 5px 15px;
  color: #424242;
  font-weight: lighter;
}

@media only screen and (max-width: 780px) {
  body {
    font-size: 1.1em;
  }
}

.btn {
  display: inline-block;
  font-align: center;
  color: #fff;
  background-color: #134dae;
  padding: 3px 5px; 
  border: #000727 1px solid;
  text-decoration: none;
}

.btn:focus {
  color: #000;
}

/* Report */

.issue-card {
  /*background-color: #dfe1e6;
  max-width: 640px;
  border-radius: 3px;*/
  display: block;
  white-space: normal;
  padding: 8px;
  margin-top: 24px;
}

.code-snippet {
	border-radius: 3px;
	padding: 8px 4px;
}

.suggestion a {
	color: #717b8c;
	font-style: italic;
}

.file-title {
	font-size: 1.5em;
}

.file-title a {
	color: inherit;
	text-decoration: none;
}

.file-title a:hover {
	text-decoration: underline;
}


/* Navigation bar */
nav {
  overflow: hidden;
  border-bottom: 1px solid #000000;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

nav ul li {
  float: left;
}

.nav-right {
  float: right;
  color: #424242;
}

.nav-title {
  font-size: 1.2rem;
}

nav ul li a {
  display: block;
  color: inherit;
  text-align: center;
  text-decoration: none;
  padding: .8em 1em;
}

nav ul li.active a {
  background: #014c8f;
  color: #fff;
}

nav ul li a:hover {
  text-decoration: underline;
}

nav ul li a:focus {
  outline: 0;
  background: #ffbf47;
  color: #000;
}

.alert {
  display: block;
  margin: 15px;
  padding: 8px;
}

.alert-title {
  font-weight: bold;
}

.alert-green {
  background-color: #a7f9a7;
  outline: 1px solid #024702;
}

