{{template "base/head" .}}
<div class="content">
<h2>About {{.Check}} issue</h2>
{{if .Description}}<p><b>Description:</b> {{.Description}}{{end}}
{{if .Rationale}}<p><b>Rationale:</b> {{.Rationale}}{{end}}
{{if .Suggestion}}<p><b>Suggestion:</b> {{.Suggestion}}{{end}}
{{if .Example}}<p><b>Example:</b>
<code class="java">
{{.Example}}
</code>
{{end}}
</div>
{{template "base/footer" .}}
