{{template "base/head" .}}

<div class="content">
<h2>I'm Learning Bot</h2>
<p>Hello, I am the Learning Bot! My purpose is to check your code for class and
method design problems, possible bugs and bad coding practices.</p>
<p>You'll be able to find my reports posted on your project's issue tracker. Your
GitLab repository should be registered on the peer-testing website for me to find
you code.</p>
<br />
<p>Happy coding! &mdash; The Learning Bot, written by Humaid AlQassimi</p>
</div>

{{template "base/footer" .}}
