{{template "base/head" .}}
<div class="content">
<h2>Report</h2>
{{if .IsOldReport}}<div class="warning-banner banner">
<p><b>Notice:</b> This is a report based on an old version of your code!
</div>{{end}}
<div class="meta">
<p>Project: <a href="{{.GitLabInst}}/{{.Project}}">{{.Project}}</a></p>
<p>Commit: <a href="{{.GitLabInst}}/{{.Project}}/commit/{{.Commit}}">{{.CommitShort}}</a></p>
<p>Report generated: {{.ReportGenDate}}</p>
</div>

{{range .Report.Issues}}
<div class="issue-card">
<div class="file">
<p class="file-title"><a target="_blank" href="{{$.GitLabInst}}/{{$.Project}}/blob/{{$.Commit}}{{.FilePath}}#L{{.LineNumber}}">{{.FilePath}}{{if .LineNumber}}:{{.LineNumber}}{{if.ColumnNumber}}:{{.ColumnNumber}}{{end}}{{end}}</a></p>
</div>
<div class="code-snippet">
<code>{{.SourceSnippet}}</code>
</div>
<div class="suggestion">
<p>{{.Description}}</p>

<p><a target="issue" href="/help/{{.CheckName}}">Learn more about this type of issue and how to fix it</a></p>
</div>

</div>
{{end}}


</div>
{{template "base/footer" .}}
