{{template "base/head" .}}
<div class="content">
<h2>Report of <a href="{{.GitLabInst}}/{{.Project}}">{{.Project}}</a></h2>
{{if .IsOldReport}}<div class="warning-banner banner">
<p><b>Notice:</b> This is a report based on an old version of your code!
</div>{{end}}
<div class="meta">
<p>Commit: <a href="{{.GitLabInst}}/{{.Project}}/commit/{{.Commit}}">{{.CommitShort}}</a></p>
<p>Report generated: {{.ReportGenDate}}</p>
</div>
{{if eq .Report.Status 0}}
<p><b>Whoops!</b> Your report is currently being generated. Sit tight while I inspect your code!</p>
{{ else if eq .Report.Status 2}}
<p><b>Whoops!</b> I am having trouble generating a report for this commit! Ask for help if this keeps happening.</p>
{{else}}
{{range .Report.Issues}}
<div class="issue-card">
<div class="file">
<p class="file-title"><b>{{Spacify .CheckName}}</b>: <a target="_blank" href="{{$.GitLabInst}}/{{$.Project}}/blob/{{$.Commit}}{{.FilePath}}#L{{.LineNumber}}">{{.FilePath}}{{if .LineNumber}}:{{.LineNumber}}{{if.ColumnNumber}}:{{.ColumnNumber}}{{end}}{{end}}</a></p>
</div>
<div class="code-snippet">
<pre><code class="java">{{.SourceSnippet}}</code></pre>

</div>
<div class="suggestion">
<p>{{.Description}}</p>

{{if CheckExists .CheckName}}<p><a target="issue" href="/help/{{.CheckName}}">Learn more about this type of issue and how to fix it</a></p>{{end}}
</div>

</div>
<hr>
{{end}}
{{end}}
</div>
<script>hljs.initHighlightingOnLoad();</script>
{{template "base/footer" .}}
